Repository geoschem/HEMCO, pull requests merged in 2021-09, with the labels that each got.

#96 Fix to HEMCO lightning flash rate diagnostic units
  src/Extensions/hcox_lightnox_mod.F90
Labels: bug, never stale, diagnostics

#93 [PULL REQUEST] Remove double counting of acetone from monoterpenes
  src/Extensions/hcox_megan_mod.F90
Labels: bug, extensions

#110 [PULL REQUEST] Add climatology input for volcano extension
  src/Extensions/hcox_volcano_mod.F90
Labels: feature, extensions

#111 Make error handling robust for mpi
  src/Core/hco_calc_mod.F90
  src/Core/hco_clock_mod.F90
  src/Core/hco_config_mod.F90
  src/Core/hco_datacont_mod.F90
  src/Core/hco_diagn_mod.F90
  src/Core/hco_emislist_mod.F90
  src/Core/hco_error_mod.F90
  src/Core/hco_extlist_mod.F90
  src/Core/hco_filedata_mod.F90
  src/Core/hco_fluxarr_mod.F90
  src/Core/hco_geotools_mod.F90
  src/Core/hco_interp_mod.F90
  src/Core/hco_readlist_mod.F90
  src/Core/hco_state_mod.F90
  src/Core/hco_tidx_mod.F90
  src/Core/hco_timeshift_mod.F90
  src/Core/hco_unit_mod.F90
  src/Core/hco_vertgrid_mod.F90
  src/Core/hcoio_dataread_mod.F90
  src/Core/hcoio_messy_mod.F90
  src/Core/hcoio_read_mapl_mod.F90
  src/Core/hcoio_read_std_mod.F90
  src/Core/hcoio_util_mod.F90
  src/Extensions/hcox_ch4wetland_mod.F90
  src/Extensions/hcox_custom_mod.F90
  src/Extensions/hcox_driver_mod.F90
  src/Extensions/hcox_dustdead_mod.F
  src/Extensions/hcox_dustginoux_mod.F90
  src/Extensions/hcox_finn_mod.F90
  src/Extensions/hcox_finn_mod.FINNv16
  src/Extensions/hcox_gc_POPs_mod.F90
  src/Extensions/hcox_gc_RnPbBe_mod.F90
  src/Extensions/hcox_gfed_mod.F90
  src/Extensions/hcox_iodine_mod.F90
  src/Extensions/hcox_lightnox_mod.F90
  src/Extensions/hcox_megan_mod.F90
  src/Extensions/hcox_paranox_mod.F90
  src/Extensions/hcox_seaflux_mod.F90
  src/Extensions/hcox_seasalt_mod.F90
  src/Extensions/hcox_soilnox_mod.F90
  src/Extensions/hcox_state_mod.F90
  src/Extensions/hcox_template_mod.F90x
  src/Extensions/hcox_tomas_dustdead_mod.F
  src/Extensions/hcox_tomas_jeagle_mod.F90
  src/Extensions/hcox_volcano_mod.F90
  src/Interfaces/MAPL_ESMF/hcoi_esmf_mod.F90
  src/Interfaces/Shared/hco_interface_common.F90
  src/Interfaces/Standalone/hcoi_standalone_mod.F90
Labels: feature, ESMF or MPI
