Repository geoschem/HEMCO, pull requests merged in 2023-11, with the labels that each got.

#245 rename HEMCO_Config.rc.sample to HEMCO_Config.rc
  CHANGELOG.md
  run/createRunDir.sh
Labels: config-files / rundir, standalone, no-diff-to-benchmark, bugfix

#248 Increase string length for netCDF variable name
  CHANGELOG.md
  src/Core/hco_config_mod.F90
  src/Core/hco_types_mod.F90
Labels: data sources / I-O, no-diff-to-benchmark, bugfix

#242 Include a utility script that can be used to change HEMCO version numbers before release
  .release/changeVersionNumbers.sh
  CHANGELOG.md
Labels: feature, no-diff-to-benchmark

#250 Turn off emission extensions when EMISSIONS logical is set to false
  CHANGELOG.md
  src/Core/hco_config_mod.F90
Labels: config-files / rundir, bugfix
